
@{
    ViewBag.Title = "User Navbar";
}
<!-- Toggle Button for Mobile -->
<button class="btn btn-primary toggle-navbar" onclick="toggleNavbar()">
    <i class="bi bi-list"></i>
</button>


<!-- Sidebar Navigation -->
<div class="left-navbar" id="leftNavbar">
    <div class="navbar-logo2">
        <img src="~/Content/img/iconi.png" alt="Website Logo" class="navbar-logo-img" />
    </div>

    <a href="@Url.Action("Index", "Home")"><i class="bi bi-house"></i> <span>Home</span></a>

    <!-- Events Dropdown -->
    <div class="dropdown">
        <a href="#" class="dropdown-toggle" id="eventsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-calendar-event"></i> <span>Events</span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="eventsDropdown">
            @if (Session["UserID"] != null)
            {
                <li><a class="dropdown-item" href="@Url.Action("CreateEvent", "Home")"><i class="bi bi-calendar-plus"></i> Create Event</a></li>

            }
            else
            {
                <li><a class="dropdown-item" href="@Url.Action("ViewEvents", "Home")"><i class="bi bi-calendar-check"></i> View Events</a></li>
            }
        </ul>
    </div>

    <!-- Requests Dropdown -->
    <div class="dropdown">
        <a href="#" class="dropdown-toggle" id="requestsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-exclamation-triangle"></i> <span>Request Assistance</span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="requestsDropdown">
            @if (Session["UserID"] != null)
            {
                <li><a class="dropdown-item" href="@Url.Action("Create", "Requests")"><i class="bi bi-pencil-square"></i> Create Request</a></li>

            }
            <li><a class="dropdown-item" href="@Url.Action("Index", "Requests")"><i class="bi bi-list-ul"></i> View Requests</a></li>

        </ul>



    </div>



    <a href="@Url.Action("About", "Home")"><i class="bi bi-info-circle"></i> <span>About</span></a>
    <a href="@Url.Action("Contact", "Home")"><i class="bi bi-telephone"></i> <span>Contact</span></a>


    <a class="dropdown-item" href="@Url.Action("Login", "Users")">
        <i class="bi bi-box-arrow-in-right"></i>
        Login
    </a>

    <a class="dropdown-item" href="@Url.Action("Register", "Users")">
        <i class="bi bi-person-plus"></i>
        Create Account
    </a>









</div>
